[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
tqdm = "*"
tensorflow = "*"
pyarrow = "*"
fastparquet = "*"
matplotlib = "*"
seaborn = "*"
click = "*"
mlflow = "*"
jupyter = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"
xgboost = "*"
hyperopt = "*"

[dev-packages]
jupyterlab = "*"

[requires]
python_version = "3.12"
